body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  color: var(--blue);
}

:root {
  --blue: #0088a9;
  --grey: #24252a;
  --white: #edf0f1;
}

nav h2 {
  position: absolute;
  color: var(--white);
  top: 0rem;
  left: 1rem;
  padding: 1rem;
  background-color: var(--blue);
  border-radius: 0 0 1rem 1rem;
  margin: 0rem;
}

/* -- Main -- */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  background-color: white;
  height: 50vh;
  margin-top: 25vh;
  margin-left: 35%;
  box-shadow: 0 15px 30px 0 rgb(0 47 107 / 10%);
}

form h2 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

form label {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0 5px;
  border-bottom: var(--blue) solid 2.5px;
  width: 70%;
  color: var(--blue);
}

form input::placeholder {
  opacity: 0.5;
  color: var(--blue);
}

form #Submit {
  width: 70%;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
}

form #Submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

#signInButton {
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#signInButton:hover {
  cursor: pointer;
  opacity: 0.5;
}
